<div class="row">
  <div class="col-xs-4">
    <h1><%= message %> </h1>
    <form action="<%= action %>" method="<%= method %>">
      <div class="form-group">
        <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

        <label for="user_email">Email</label>
        <input
        class="form-control"
        id="user_email"
        name="user[email]"
        type="text">
        <br>

        <label for="user_password">Password</label>
        <input
        class="form-control"
        id="user_password"
        name="user[password]"
        type="password">
        <br>

        <button type="submit" class="btn btn-primary"><%=message%></button>
        <p>
      </div>
    </form>
  </div>
</div>

