<div class="row">
  <div class="col-xs-4">
    <h1><%= message %> </h1>
    <form action="<%= action %>" method="<%= method %>">
      <div class="form-group">
        <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

        <% if @user && !(@user.persisted?) %>
          <label for="user_name">Name</label>
          <input
          class="form-control"
          id="user_name"
          name="user[name]"
          type="text">
          <br>
          <% unless Cohort.all.empty? %> 
            <label for="user_cohort">Cohort</label>
            <select
            class="form-control"
            id="user_cohort"
            name="user[cohort_id]">
              <% Cohort.all.each do |cohort| %>
                <option value="<%= cohort.id %>"><%= cohort.name %></option>
              <% end %>
            </select>
            <br>
          <% end %>

          <label for="user_moved_in">Move-In Date</label>
          <input type="date"
          id="user_moved_in"
          name="user[moved_in]">
          <br>

        <% end %>

        <label for="user_email">Email</label>
        <input
        class="form-control"
        id="user_email"
        name="user[email]"
        type="text">
        <br>

        <label for="user_password">Password</label>
        <input
        class="form-control"
        id="user_password"
        name="user[password]"
        type="password">
        <br>

        <button type="submit" class="btn btn-primary"><%=message%></button>
        <p>
      </div>
    </form>
  </div>
</div>

