<!DOCTYPE html>
<html>
  <head>
    <title>App Academy Residents</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
      <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#demo-project-navbar-collapse-1">
          &#9776;
        </button>
        <%= link_to "App Academy Residents", root_url, :class => "navbar-brand"%>
      </div>
      <div class="collapse navbar-collapse" id="demo-project-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
          <li><%= link_to "Chores", chores_url %></li>
          <li><%= link_to "Peeps", users_url %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%if current_user%>
          <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.email%><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%=user_url current_user%>">Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", session_url, method: :delete %></li>

          </ul>
          </li>
          <% else %>
          <li>
          <%= link_to "Log In", new_session_url %>
          </li>
          <% end %>
        </ul>
      </div>
      </nav>
      </header>
      <div class="col col-xs-12">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
